.nav-bar {
  background-color: rgba(189, 22, 22, 0.945);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Audiowide", cursive;
  min-height: 100px;
}

.logo {
  color: rgb(24, 22, 22);
  font-size: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
}
