.top-anime-div,
.top-manga-div {
  position: relative;
}

.heading {
  display: block;
  margin: 10px 10px 10px 0px;
  padding-left: 20px;
  align-self: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.anime {
  margin: 10px 10px 10px 10px;
}

.top-anime-list,
.top-manga-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: auto;
  padding-left: 20px;
}

.top-anime-list::-webkit-scrollbar,
.top-manga-list::-webkit-scrollbar {
  display: none;
}

.top-anime,
.top-manga {
  height: 250px;
  width: auto;
  border: 1px solid black;
}

.top-anime:hover,
.top-manga:hover {
  border-color: rgb(158, 28, 28);
  box-shadow: 5px 5px 30px rgb(158, 28, 28);
}

@media screen and (max-width: 1600px) {
  .top-anime-list,
  .top-manga-list {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1480px) {
  .top-anime-list,
  .top-manga-list {
    padding-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .heading {
    padding: 0;
  }

  .top-anime-list,
  .top-manga-list {
    padding: 0;
  }
}
