.top-anime-div,
.top-manga-div {
  position: relative;
}

.list-heading {
  display: flex;
  margin: 20px 10px 20px 10px;
  padding: 0;
  justify-content: center;
  font-family: "Fraunces", serif;
  font-size: 30px;
}

.anime,
.manga {
  margin: 10px 10px 10px 10px;
}

.top-anime-list,
.top-manga-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: auto;
  padding-left: 20px;
  position: relative;
}

.top-anime-list::-webkit-scrollbar,
.top-manga-list::-webkit-scrollbar {
  display: none;
}

.top-anime,
.top-manga {
  height: 250px;
  width: auto;
  border: 1px solid black;
}

.top-anime:hover,
.top-manga:hover {
  border-color: rgb(158, 28, 28);
  box-shadow: 5px 5px 30px rgb(158, 28, 28);
  cursor: pointer;
}

.loader-wrapper {
  height: calc(100vh - 100px);
  width: 100vw;
}

@media screen and (max-width: 1600px) {
  .top-anime-list,
  .top-manga-list {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1480px) {
  .top-anime-list,
  .top-manga-list {
    padding-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .heading {
    padding: 0;
  }

  .top-anime-list,
  .top-manga-list {
    padding: 0;
  }
}
