.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(189, 22, 22, 0.945);
  height: 200px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0px;
}

.credit,
.title {
  font-size: 35px;
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  color: rgb(15, 14, 14);
}

.credit {
  font-size: 20px;
}

.icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.icons li {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 7px;
}

.icon {
  display: block;
  height: 50px;
  width: 50px;
}

.icon:hover {
  padding: 2px 2px 2px 2px;
  background-color: rgb(158, 28, 28);
  border-radius: 20px;
}

.names {
  display: flex;
  width: 100%;
  height: 25%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.name {
  font-family: "Fraunces", serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  font-size: 20px;
  width: 25%;
  color: whitesmoke;
}

em {
  color: whitesmoke;
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
  .footer {
    height: 150px;
  }

  .title {
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .icons {
    margin-top: 5px;
    height: 25%;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .name {
    font-size: 12px;
  }
}
