.top-anime-card {
  top: calc(10vh + 5px);
  bottom: 5vh;
  left: 10vh;
  right: 10vh;
  position: fixed;
  z-index: 1;
  background-color: yellow;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Inconsolata", monospace;
}

.title {
  display: inline;
}

.exit {
  position: absolute;
  font-family: "Inconsolata", monospace;
  top: 10px;
  right: 10px;
  font-size: 30px;
}
